#reservation-form
{
    border: solid 1px #3f3f3f;
    margin-bottom: 15px;
    margin-top:15px;
}
#reservation-form .reservation-holder
{
    border-bottom : solid 1px #3f3f3f;
    min-height: 50px;
    padding:10px;
    padding-top:5px;
    padding-bottom:15px;
    width:100%;
}
#reservation-form .reservation-holder .half
{
    width:calc(100% / 2 - 8px);
    display: inline-block;
}
#reservation-form .reservation-holder .third
{
    width:calc(100% / 3);
    display: inline-block;
}
#reservation-form .reservation-holder .whole
{
    width:100%;
}
#reservation-form .reservation-holder .control-input,#reservation-form .reservation-holder span.select
{
    width:98%;
    height:35px;
    border-radius: 0px;
    border: solid 1px #3f3f3f;
}
#reservation-form .submit-reservation
{
    margin:auto;
    margin-top:10px;
    width:75%;
}
#reservation-form h3
{
    display: block;
    margin:0px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:8px;
    padding-top:8px;
    font-size:16px;
    font-weight:bold;
    color:white;
    text-align:center;
    background: #3f3f3f;
}
.reservation-button
{
    border: 1px solid #93bf1b;
    border: 3px solid #79a600;
    background: #93bf1b;
    color: #fff !important;
    display:block;
    padding-left:15px;
    padding-right:15px;
    padding-top:7px;
    padding-bottom: 7px;
    font-size:16px;
    font-weight:bold;
    text-align: center; 
    cursor: pointer;
}
.reservation-button:hover
{
    color:white ;
}
.alert 
{
    border-width:1px;
    border-style: solid;
    padding:10px;
    margin-bottom: 10px;
}
.alert h4
{
    padding:0px;
    margin:0px;
    line-height: normal;
    font-size:14px;
    font-weight:bold;
    margin-bottom:10px;
}
.alert-danger
{
    border-color:red;
}
.alert-success
{
    border:1px solid green;
}
.inquire-control-holder
{
    border-top:none !important;
    border-right:none !important;
    border-left:none !important;
    border-bottom: none !important; 
    padding-bottom:10px !important;
    padding-top:0px;
}
.inquire-control-holder .inquire-form-text
{
    width:100%;
    display:block;
    height:30px;
    border-radius:0px;
}
.inquire-control-holder .inquire-form-text[type="text"],.inquire-control-holder .inquire-form-text[type="email"]
{
    width:97%;
    display:block;
    height:30px;
    border-radius:0px;
}
#tabs1-css form
{
    margin:0px;
    padding:0px;
}
.property_name
{
    display:block;
    clear: both;
    float: none;
    margin:0px;
    padding: 0 19px;
    background: #3f3f3f;
    color:white;
    font-size:14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;

}
.property_meta
{
    float:left;
    padding-left:10px;
    font-size:12px;
    font-weight:bold;
}
.property_meta ul
{
    margin:0px;
    padding:0px;
}
.property_img
{
    max-width:232px;
    height:195px;
    float:left;
    border: 1px solid #ccc; 
    padding:5px;

}
.property_gallery a
{
    float:left;
    margin-right:10px;
    border: 1px solid #ccc; 
    padding:0px;
    display:block;
}
.property_item
{
    margin-bottom:15px;
}
.etabs {
    margin: 0;
    padding: 0;
}
.tab-container div
{
       border: solid 1px #999;
       padding:15px; 
}
.tab-container h2.item_heading
{
       margin:0px;
}
.tab {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: #eee;
    border: solid 1px #999;
    border-bottom:none;
    bottom:0px;
    margin:0px;
}

.tab a {
    font-size: 14px;
    line-height: 2em;
    display: block;
    padding: 0 10px;
    outline: none;
    width:100px;
    text-align: center;
    margin:0px;
}

.tab a:hover {
    text-decoration:none;
}

.tab.active {
    position: relative;
    top: 1px;
    border: 1px solid #79a600;
    background: #93bf1b;
    color: #fff;

}

.tab a.active {
    font-weight: bold;
}

.tab-container .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
}
#advance_search
{
    border: 1px solid #ccc; 
    width:500px;
    margin:auto;
    min-height: 300px;
    margin-top:25px;
}
#advance_search .control-holder
{
    border-bottom: 1px solid #ccc; 
    padding:10px;
    padding-bottom:18px;
}
#advance_search .control-holder .select
{
    width:100%;
        border-radius: 0px;
}
#advance_search .submit-holder
{
    padding-bottom:10px;
    padding-top:10px;
    padding-right:10px;
}
#advance_search .submit-holder input[type="submit"]
{
    float:right;
    background: #3f3f3f;
    color: white;
    border-radius: 0px;
}
{
    width:100%;
        border-radius: 0px;
}
#advance_search .control-holder input[type="text"]
{
    border-bottom: 1px solid #ccc; 
    width:100%;
    height:35px;
    border-radius: 0px;
}
#advance_search .control-holder label
{
    font-size:12px;
    color:#666;
    margin:0px;
    padding:0px;
    line-height: normal;
    margin-bottom:5px;
}
#advance_search h3
{
    dislay:block;
    clear: both;
    float: none;
    margin:0px;
    padding: 0 19px;
    background: #3f3f3f;
    color:white;
    text-align:center;
    font-size:14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.property_title
{
    margin:0px;
    font-size: 14px;
    font-weight:bold;
    color:#06c;
}
.clear {
    clear:both;
}
.property_column
{
    width:25%;
    float:left;
    margin:0px !important;
    margin-right:10px;
    margin-bottom:10px;
}
.property_price
{
    color: #900;
    font-weight: bold;
    font-size: 14px;
}

.property_location
{
    font-size:11px;
    color:#ccc;
}
#registration
{
    width:700px;
    min-height:700px;
    margin:auto;
}
.Zebra_Pagination ul
{
    margin:0px;
    padding:0px;
    list-style-type:none;
}
.Zebra_Pagination ul li
{
    display:block;
    float:left;
    margin:0px;
    padding:0px;
    min-width:30px;
    min-height:30px;
    margin-right:5px;
    text-align:center;
}
.Zebra_Pagination ul li a 
{
    display:block;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    font-size:12px;
    margin:0px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    text-decoration: none;
    border: solid #1f628d 1px;
    min-width:30px;
    line-height:30px;
}
.Zebra_Pagination ul li a.current
{
    background: #091c29;
    background-image: -webkit-linear-gradient(top, #091c29, #2980b9);
    background-image: -moz-linear-gradient(top, #091c29, #2980b9);
    background-image: -ms-linear-gradient(top, #091c29, #2980b9);
    background-image: -o-linear-gradient(top, #091c29, #2980b9);
    background-image: linear-gradient(to bottom, #091c29, #2980b9);
}
.Zebra_Pagination ul li a:hover
{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
#xsearch
{
	
	background-color:#f1f1f1;
	display:block;
	font-family:arial;
    color:#333;
	font-size:13px !important;
	font-weight:bold;
	text-decoration:none;
    padding-top:25px;
    padding-bottom:25px;

}

#xsearch input[type="text"]
{
    border: 1px solid #bdc7d8;
    margin: 0;
    padding: 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    color: #777;
}
#xsearch span.select
{
    border: 1px solid #bdc7d8 !important;
    margin: 0 !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
    color: #777;
    width:98%;
    display:block;
}
#xsearch label
{
    color:#333!important;
    font-family:calibri;
    font-size:13px;
    margin-bottom:0px;
    margin-top:5px;
}
#xsearch #keyword
{
    width:400px;
}
#xsearch .nomargn
{
    margin:0px;
    padding:0px;
}
#xsearch .container
{
    width:500px;
    margin:auto;
}
#xsearch .row
{
    width:500px;
}
#xsearch .half
{
    width:48%;
    float:left;
}
#xsearch .three
{
    width:164px;
    float:left;
}
#xsearch .btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
#xsearch .btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
#xsearch .btn:active {
	position:relative;
	top:1px;
}
.pagination ul 
{
    list-style: none;
}
.pagination ul li 
{
    list-style-type: none;
    float:left;
    padding:0px;
    margin:0px;
}
.pagination {
    clear: both;
    padding-bottom: 10px;
    padding-top: 10px;
}
.pagination a {
    border: 1px solid #D5D5D5;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin:2px;
}
.pagination a:hover, .pagination a:active {
    background:#efefef;
}
.pagination span.current {
    background-color: #687282;
    border: 1px solid #D5D5D5;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
        margin:2px;
}
.pagination li.disabled span,.pagination li.active span {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    margin: 2px;
    padding: 4px 8px;
    background-color:#333;
}
.image-border img.computation
{
    max-width: 100%;
    height: auto;
    border:none !important;
}
.image-border
{
    border:none;
}