body
{
    background-color:#fff;
    background-image:url('../img/bg.jpg');
    background-repeat:repeat-x;
    font-family:"Arial",sans-serif;
    font-size:12px;
    color:#666;
}
a { color:#556f33; text-decoration: none;}
a:hover { text-decoration: underline;}
p {
    font-size:12px;
    line-height: 18px;
}
.post h2
{
    font-size: 16px;
   color:#556f33; 
   margin-bottom: 10px;
}
.post p 
{
    line-height: 19px;
    margin-bottom: 15px;

}
.post ul {
    list-style: circle;
    margin-left: 15px;
}
.post ul li{
    margin-bottom: 10px;
}
#wrapper
{
    margin:auto;
}
#header
{
    min-height: 100px;
}
#header h1#logo
{
    margin:0px;
    padding:0px;
    line-height: normal;
    display:block;
    width:254px;
    height:100px;
}
#nav
{
    height:40px;
    width:100%;
    background-image:url("../img/nav.png");
	-webkit-box-shadow: 0px 9px 26px 0px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    0px 9px 26px 0px rgba(50, 50, 50, 0.77);
	box-shadow:         0px 9px 26px 0px rgba(50, 50, 50, 0.77);
}
#nav ul
{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
#nav ul li{
    margin:0px;
    float:left;
    line-height: 40px;
    padding-left:15px;
    padding-right:15px;
    border-right:1px solid #577235;
}
#nav ul li:hover
{
    background-color:#577235;
}
#nav ul li a{
    color:white;
    text-transform:uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 0px darkgreen;
}
#slider
{
    width:100%;
    height:350px;
    background-color:#333;
	-webkit-box-shadow: 0px 9px 26px 0px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    0px 9px 26px 0px rgba(50, 50, 50, 0.77);
	box-shadow:         0px 9px 26px 0px rgba(50, 50, 50, 0.77);
}
#homepage-search
{
    width:100%;
    height:80px;
    background-color:#557034;
    color:white;
}
#homepage-search form
{
    padding:0px;
    margin:0px;
    padding-top:20px
}
#homepage-search h3
{
    display: block;
    padding-left:10px;
    font-size:14px;
    color:#b2d08d;
    padding-top:10px;
}
.button-yellow
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #050505;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #f7ff00 0%,
        #ffbf00);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#f7ff00),
        to(#ffbf00));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0px solid #000000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
        cursor: pointer;
}
#main
{
    background-color:#fff;
    min-height:500px;
    padding-top:10px;
    padding-bottom: 25px;
	-webkit-box-shadow: 0px 9px 26px 0px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    0px 9px 26px 0px rgba(50, 50, 50, 0.77);
	box-shadow:         0px 9px 26px 0px rgba(50, 50, 50, 0.77);
}
.widget-inner
{
    padding-top:10px;
    padding-bottom: 10px;
    margin-bottom:15px;
}
#footer
{
    height:100px;
    background-color:#333;
    /*border-top-left-radius:5px;
    border-top-right-radius: 5px;*/
	-webkit-box-shadow: 0px 9px 26px 0px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    0px 9px 26px 0px rgba(50, 50, 50, 0.77);
	box-shadow:         0px 9px 26px 0px rgba(50, 50, 50, 0.77);
}
#footer p
{
    font-size:11px;
    text-align: center;
    padding-top:50px;
}
.search-select
{
    width:100%;
    line-height:25px;

}
#search-button
{
    margin-top:8px;
}

h3.panel-title {
    display:block;
    background-image:url('../img/nav.png');
    color:white;
    line-height:35px;
    padding-left:10px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    font-size:14px;
}
ul.item-list
{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
ul.item-list li{
    display: block;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom:1px solid #eafed2;
    margin-bottom: 10px;
}
ul.item-list li img
{
    float:left;
    max-width:150px;
    height:auto;
    margin-right:15px;
}
ul.item-list li .property-title
{
    font-size:16px;
    color:#556f33;
}
ul.item-list li .property-price
{
    font-size:12px;
    color:#ccc;
    font-family: Verdana;
    font-weight:normal;
}
ul.item-list li .property-meta
{
    font-size:11px;
}
ul.item-list li p.property-excerpt
{
    line-height:18px;
    padding-top:8px;
    margin-bottom:0px;
}
ul.item-list li a.property-link
{
    display: block;
    float:right;
}
ul.news-list
{
    margin:0px;
    padding:0px;
    list-style-type: none;
    padding-top:7px;
}
ul.news-list li{
    display: block;
    padding-top:7px;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
ul.news-list li p{
    margin:0px;
    padding:0px;
    line-height:15px;
    font-size:11px;
}
ul.news-list li img
{
    float:left;
    max-width:55px;
    height:auto;
    margin-right:15px;
}
ul.news-list li p.news-title
{
    font-weight: bold;
}
.post {
    padding-top:0px;
    padding-bottom: 10px;
}
.post p {
    line-height: 18px;
}
.form-group
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.search-widget {
    background-color: #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form-half
{
    width:48%;
    float:left;
    margin-right: 10px;
}
.form-half.last
{
    width:48%;
    float:right;
    margin-right: 0px;
}
.form-group div.clear {
    clear:both;
}
.form-group button.search-button
{
    width:100%;
    cursor: pointer;
}
.pagination
{
    padding:10px;
    text-align: center;
}
.pagination ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.pagination ul li
{
    display: block;
    float: left;
    border:solid 1px #556f33;
    padding-left:5px;
    padding-right: 5px;
    padding-top:0px;
    padding-right: 5px;
    margin-right: 5px;
    text-align: center;
}
.pagination ul li.active
{
    background-color:#556f33;
    color:white;
}
div.item table
{
    width:100% !important;
    border-collapse: collapse;
}
div.item table td
{
    padding-left:5px;
    padding-right: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    text-align: right;
    border:solid 1px #ddd;
}
.item 
{
    padding-bottom: 10px;
    padding-top:10px;
}
.item div.half { width:50%; float:left;}
.item div.half.last { float:right;}
table.item-info-table 
{
    width:100%;
}
table.item-info-table td {
    padding-left:5px;
    padding-right: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    text-align: right;
    border:solid 1px #ddd;
}
table.item-info-table td.item-info-label
{
    text-align: left;
    background-color: #ccc;
    color:#666;
}
.item-images
{
    margin:0px;
    padding:0px;
    list-style-type: none;
    padding-top:10px; 
}
.item-images li
{
    list-style: none;
    display: block;
    float:left;
    margin-right:10px;
}
div.contact-form
{
    width:100%;
    padding-bottom: 10px;
    padding-top:10px;
}
div.contact-form label
{
    display: block;
}
div.contact-form input.form-control,div.contact-form textarea
{
    width: 100%;
}
.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.alert-heading {
color: inherit;
}

.alert .close {
position: relative;
top: -2px;
right: -21px;
line-height: 18px;
}
.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}
.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}
.alert-info {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
}
.alert-block {
padding-top: 14px;
padding-bottom: 14px;
}
.reserve 
{
    width: 94%;
    margin-top: 10px;
}
.login-panel
{
    width:350px;
    margin:auto;
    padding-top:25px;
}
.registration-panel
{
    width:85%;
    margin:auto;
    padding-top:25px;
}
.red 
{
    color:red;
}
div.login-wrapper
{
    background-color:white;
    -webkit-box-shadow: 0px 9px 26px 0px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    0px 9px 26px 0px rgba(50, 50, 50, 0.77);
    box-shadow:         0px 9px 26px 0px rgba(50, 50, 50, 0.77);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.login-inner
{
    padding:15px;
}
.login-panel input[type="text"].form-control,.login-panel input[type="email"].form-control,.login-panel input[type="password"].form-control
{
    width:100%;
    line-height: 15px;
}
.tin-control
{
    float:left;
    width:25%;
    line-height:15px;
}
.tin-control .form-control
{
    width:80% !important;
    float:left;
}
.tin-control .form-control:last-child
{
    width:100% !important;
    float:left;
}
.tin-control:last-child
{
    margin-right:0px;
}
.tin-control span
{
    display: block;
    text-align: center;
    width: 15%;
    line-height:24px;
    float:left;
}
.form-email-control
{
    width:100%;
}
.form-email-control .email-address
{
    width:67% !important;
    float:left;
}
.form-email-control .email-tld
{
    width:25% !important;
    float:right;
}
.form-email-control span
{
    width:5%;
    display: block;
    line-height:23px;
    float:left;
    text-align: center;
}
.login-panel input[type="submit"]
{
    margin-top: 15px;
    width:100%;
}
.login-panel label { display: block;}
.login-panel p { display: block; text-align: center;}
.address-field .form-control
{
    width:15% !important;
    float:left;
    margin-right:5px;
}
.address-field .form-control:last-child
{
    margin-right: 0px;
    width:9% !important;
    float:right;
}
.registration-panel .form-control
{
    height:20px;
    width:100%;
}
.address-field .form-control.first
{
    width:40% !important;
}
.registration-panel .form-group
{
    clear: both;
    padding-top:10px;
    padding-bottom: 10px;
}
.registration-panel div.col-lg-6
{
    width:48%;
    float:left;
}
.registration-panel div.col-lg-6.last
{
    width:48%;
    float:right;
}
.registration-panel .button-yellow
{
    float:right;
    margin-bottom: 15px;
}
.post {
    padding:10px;
}
.reservation-form
{
    padding:10px;
    -webkit-box-shadow: 0px 9px 26px 0px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    0px 9px 26px 0px rgba(50, 50, 50, 0.77);
    box-shadow:         0px 9px 26px 0px rgba(50, 50, 50, 0.77);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.reservation-form .control-input
{
    width: 100%;
    height:25px;
}
.reservation-form label
{
    display: block;
}
.reservation-form .reservation-holder
{
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
}
.reservation-form .reservation-holder .half
{
    width:48%;
    float:left;
}
.reservation-form .reservation-holder .half.last
{
    width:48%;
    float:right;
}
table.striped
{
    border-collapse: collapse;
    border:solid 1px #eafed2;
    width:100%;
}
table.striped td,table.striped th{
    padding:7px;
    border:solid 1px #eafed2;
}
table.striped th{
    font-weight: bold;
}
h3.heading
{
    font-size:15px;
    color:#556f33;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
}
h3.heading span
{
    font-size:12px;
    color:#666;
    display: block;
}
table.calculator
{
    width:100%;
    border-collapse: collapse;
}
table.calculator td
{
    vertical-align: middle;
    width:30%;
}
table.calculator td.label
{
    vertical-align: middle;
    width:30%;
    font-size: 12px;
}
table.calculator input[type="text"]
{
    width:98%;
    height:14px;
}
table.calculator .item-info-label 
{
    width:15%;
    margin:0px;
}
table.calculator #downpayment
{
    width:50%;
    float:left;
    margin:0px;

}
table.calculator #conversion
{
    width:45%;
    float:left;
    margin:0px;
    margin-left:5px;
}

